<%= form_with(model: pag_parcela, local: true) do |form| %>
  <% if pag_parcela.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pag_parcela.errors.count, "error") %> prohibited this pag_parcela from being saved:</h2>

      <ul>
      <% pag_parcela.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :pago %>
    <%= form.check_box :pago %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
