<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @pag_parcela.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Pago:</strong>
  <%= @pag_parcela.pago %>
</p>

<%= link_to 'Editar', edit_pag_parcela_path(@pag_parcela) %> |
<%= link_to 'Voltar', pag_parcelas_path %>
