<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @forma_pagamento.tipo %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @forma_pagamento.ativo %>
</p>

<%= link_to 'Edit', edit_forma_pagamento_path(@forma_pagamento) %> |
<%= link_to 'Back', forma_pagamentos_path %>
