<p id="notice"><%= notice %></p>

<h1>Entrega de Costuras</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Qtd Total</th>
      <th>Qtd entregue</th>
      <th>Restante</th>
      <th>Valor pago</th>
      <th>Finalizado</th>
      <th>Perdas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entregas.each do |entrega| %>
      <tr>
        <td><%= entrega.data.strftime("%d/%m/%Y") %></td>
        <td><%= entrega.costura.corte.qtd_total %></td>
        <td><%= entrega.qtd_entrega %></td>
        <td><%= entrega.restante = entrega.costura.corte.qtd_total - entrega.qtd_entrega %></td>
        <td><%= valor_formatado(entrega.valor_pago) %></td>
        <td><%= formatar_boolean(entrega.finalizado) %></td>
        <td><%= entrega.perdas %></td>
        <td><%= link_to 'Mostrar', entrega, :class => 'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to 'Editar', edit_entrega_path(entrega), :class => 'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to 'Deletar', entrega, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Entrega', new_entrega_path, :class => 'btn btn-outline-primary btn-sm' %>
