<%= form_with(model: corte, local: true) do |form| %>
  <% if corte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(corte.errors.count, "error") %> prohibited this corte from being saved:</h2>

      <ul>
      <% corte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :compra_id %>
    <%= form.collection_select :compra_id, Compra.all.order(created_at: :asc), :id, :data, prompt: 'Selecione' %>
  </div>

  <div class="field">
    <%= form.label :qtd_total %>
    <%= form.number_field :qtd_total %>
  </div>

  <div class="field">
    <%= form.label :valor, 'Valor Pago' %>
    <%= form.text_field :valor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
