<p id="notice"><%= notice %></p>

<h1>Cortes</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Compra</th>
      <th>Qtd total</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cortes.each do |corte| %>
      <tr>
        <td><%= corte.data.strftime("%d/%m/%Y") %></td>
        <td><%= corte.compra.data.strftime("%d/%m/%Y") %></td>
        <td><%= corte.compra.produto %></td>
        <td><%= corte.qtd_total %></td>
        <td><%= corte.valor %></td>
        <td><%= link_to 'Mostrar', corte, :class => 'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to 'Editar', edit_corte_path(corte), :class => 'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to 'Deletar', corte, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Corte', new_corte_path, :class => 'btn btn-outline-primary btn-sm' %>
