<p id="notice"><%= notice %></p>
<h2>Cortes</h2>
<p>
  <strong>Data:</strong>
  <%= @corte.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Data Compra:</strong>
  <%= @corte.compra.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Produtos Compra:</strong>
  <%= @corte.compra.produto %>
</p>

<p>
  <strong>Qtd total:</strong>
  <%= @corte.qtd_total %>
</p>

<p>
  <strong>Valor:</strong>
  <%= valor_formatado(@corte.valor) %>
</p>

<strong>Modelos:</strong><br>
	<% @corte.corte_modelos.each do |corte| %>
	  <p>
		<%= "Nome: #{corte.modelo.nome}" %>
		<%= "Qtd: #{corte.qtd}" %>
		<%= "Custo: #{valor_formatado(corte.valor_custo)}" %>
	  </p>
	<% end %>

<%= link_to 'Editar', edit_corte_path(@corte), :class => 'btn btn-outline-primary btn-sm' %> |
<%= link_to 'Voltar', cortes_path, :class => 'btn btn-outline-primary btn-sm' %>
