<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @caixa.data %>
</p>

<p>
  <strong>Compra:</strong>
  <%= @caixa.compra %>
</p>

<p>
  <strong>Despesa:</strong>
  <%= @caixa.despesa %>
</p>

<p>
  <strong>Venda:</strong>
  <%= @caixa.venda %>
</p>

<p>
  <strong>Costura:</strong>
  <%= @caixa.costura %>
</p>

<p>
  <strong>Corte:</strong>
  <%= @caixa.corte %>
</p>

<p>
  <strong>Total entradas:</strong>
  <%= @caixa.total_entradas %>
</p>

<p>
  <strong>Total saidas:</strong>
  <%= @caixa.total_saidas %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @caixa.saldo %>
</p>

<p>
  <strong>Extras:</strong>
  <%= @caixa.extras %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @caixa.obs %>
</p>

<p>
  <strong>Total perdas:</strong>
  <%= @caixa.total_perdas %>
</p>

<p>
  <strong>Estampa:</strong>
  <%= @caixa.estampa %>
</p>

<%= link_to 'Edit', edit_caixa_path(@caixa) %> |
<%= link_to 'Back', caixas_path %>
