<p id="notice"><%= notice %></p>

<h1>Estampas</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Data do Corte</th>
      <th>Qtd total</th>
      <th>Valor total</th>
      <th>Estampa tipo</th>
      <th>Finalizado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estampas.each do |estampa| %>
      <tr>
        <td><%= estampa.data.strftime("%d/%m/%Y") %></td>
        <td><%= estampa.corte.data.strftime("%d/%m/%Y") %></td>
        <td><%= estampa.qtd_total %></td>
        <td><%= valor_formatado(estampa.valor_total) %></td>
        <td><%= estampa.estampa_tipo %></td>
        <td><%= formatar_boolean(estampa.finalizado) %></td>
        <td><%= link_to 'Mostrar', estampa, :class => 'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to 'Editar', edit_estampa_path(estampa), :class => 'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to 'Deletar', estampa, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Estampa', new_estampa_path, :class => 'btn btn-outline-primary btn-sm' %>
