<p id="notice"><%= notice %></p>

<h2>Estampa</h2>

<p>
  <strong>Data:</strong>
  <%= @estampa.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Data Corte:</strong>
  <%= @estampa.corte.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Qtd total das Peças:</strong>
  <%= @estampa.qtd_total %>
</p>

<p>
  <strong>Valor total:</strong>
  <%= valor_formatado(@estampa.valor_total) %>
</p>

<p>
  <strong>Estampa tipo:</strong>
  <%= @estampa.estampa_tipo %>
</p>

<p>
  <strong>Finalizado:</strong>
  <%= formatar_boolean(@estampa.finalizado) %>
</p>

<%= link_to 'Editar', edit_estampa_path(@estampa), :class => 'btn btn-outline-primary btn-sm' %> |
<%= link_to 'Voltar', estampas_path, :class => 'btn btn-outline-primary btn-sm' %>
