<%= form_with(model: costura, local: true) do |form| %>
  <% if costura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(costura.errors.count, "error") %> prohibited this costura from being saved:</h2>

      <ul>
      <% costura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :faccao %>
    <%= form.text_field :faccao %>
  </div>

  <div class="field">
    <%= form.label :corte_id %>
    <%= form.collection_select :corte_id, Corte.order(created_at: :desc), :id, :data, prompt: 'Selecione'  %>
  </div>

  <div class="field">
    <%= form.label :qtd_total %>
    <%= form.number_field :qtd_total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
