<p id="notice"><%= notice %></p>

<p>
  <strong>Data envio:</strong>
  <%= @costura.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Faccao:</strong>
  <%= @costura.faccao %>
</p>

<p>
  <strong>Data do Corte:</strong>
  <%= @costura.corte.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Qtd total de Peças:</strong>
  <%= @costura.qtd_total %>
</p>

<%= link_to 'Editar', edit_costura_path(@costura), :class => 'btn btn-outline-primary btn-sm' %> |
<%= link_to 'Voltar', costuras_path, :class => 'btn btn-outline-primary btn-sm' %>
