<%= form_with(model: compra, local: true) do |form| %>
  <% if compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compra.errors.count, "error") %> prohibited this compra from being saved:</h2>

      <ul>
      <% compra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :fornecedor_id %>
    <%= form.collection_select :fornecedor_id, Fornecedor.order(nome: :desc), :id, :nome, prompt: 'Selecione' %>
  </div>

  <div class="field">
    <%= form.label :produto, 'Produtos' %>
    <%= form.text_field :produto %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="field">
    <%= form.label :pagamento %>
    <%= form.text_field :pagamento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
