<p id="notice"><%= notice %></p>

<p>
  <strong>Qtd:</strong>
  <%= @corte_modelo.qtd %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @corte_modelo.modelo %>
</p>

<p>
  <strong>Corte:</strong>
  <%= @corte_modelo.corte %>
</p>

<%= link_to 'Editar', edit_corte_modelo_path(@corte_modelo), :class => 'btn btn-outline-primary btn-sm' %> |
<%= link_to 'Voltar', corte_modelos_path, :class => 'btn btn-outline-primary btn-sm' %>
