<p id="notice"><%= notice %></p>

<h1>Entrega Estampas</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Estampa</th>
      <th>Qtd Rec</th>
      <th>Valor</th>
      <th>Costura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entrega_estampas.each do |entrega_estampa| %>
      <tr>
        <td><%= entrega_estampa.data.strftime("%d/%m/%Y") %></td>
        <td><%= entrega_estampa.estampa.data.strftime("%d/%m/%Y") %></td>
        <td><%= entrega_estampa.qtd_entregue %></td>
        <td><%= valor_formatado(entrega_estampa.valor) %></td>
        <td><%= entrega_estampa.costura.faccao %></td>
        <td><%= link_to 'Mostrar', entrega_estampa, :class => 'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to 'Editar', edit_entrega_estampa_path(entrega_estampa), :class => 'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to 'Deletar', entrega_estampa, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Entrega de Estampa', new_entrega_estampa_path, :class => 'btn btn-outline-primary btn-sm' %>
