<p id="notice"><%= notice %></p>

<h1>Entrega Estampas</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Estampa</th>
      <th>Valor</th>
      <th>Costura</th>
      <th>Obs</th>
      <th>Perdas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entrega_estampas.each do |entrega_estampa| %>
      <tr>
        <td><%= entrega_estampa.data %></td>
        <td><%= entrega_estampa.estampa %></td>
        <td><%= entrega_estampa.valor %></td>
        <td><%= entrega_estampa.costura %></td>
        <td><%= entrega_estampa.obs %></td>
        <td><%= entrega_estampa.perdas %></td>
        <td><%= link_to 'Show', entrega_estampa %></td>
        <td><%= link_to 'Edit', edit_entrega_estampa_path(entrega_estampa) %></td>
        <td><%= link_to 'Destroy', entrega_estampa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entrega Estampa', new_entrega_estampa_path %>
