<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @entrega_estampa.data %>
</p>

<p>
  <strong>Estampa:</strong>
  <%= @entrega_estampa.estampa %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @entrega_estampa.valor %>
</p>

<p>
  <strong>Costura:</strong>
  <%= @entrega_estampa.costura %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @entrega_estampa.obs %>
</p>

<p>
  <strong>Perdas:</strong>
  <%= @entrega_estampa.perdas %>
</p>

<%= link_to 'Edit', edit_entrega_estampa_path(@entrega_estampa) %> |
<%= link_to 'Back', entrega_estampas_path %>
